name: Create envfile
on: [push]
jobs:
  env-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Store variables
        run: |
          touch .env
          echo REACT_APP_API_KEY=${{ secrets.REACT_APP_API_KEY }} >> .env
          echo REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL}} >> .env
          cat .env

      - name: Deploy
        run: |
          npm install
          npm run deploy

